.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.tarjeta {
    background: #f2709c;  
    background: -webkit-linear-gradient(to left, #ff9472, #f2709c);
    background: linear-gradient(to left, #ff9472, #f2709c); 
}